%tr
  %td= image_tag product.image.url(:thumb)
  %td.product-title= product.title
  %td= product.description
  - unless current_user.try(:guest?)
    %td= product.user.shop
  - if current_user.try(:admin?)
    %td= link_to 'Toggle PRO', toggle_pro_product_path(product)
  %td
    %p= link_to 'Show', product_path(product.id)
    - if current_user.try(:admin?) || current_user?(product.user)
      %p= link_to 'Edit', edit_product_path(product)
      %p= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
