!!!
%html
  %head
    %title= Skillgrid
    = stylesheet_link_tag :application, media: 'all'
    = javascript_include_tag :application
    = csrf_meta_tags
%body
  .container-fluid
    .row.navigation
      .col-md-12
        - if current_user
          %p
            = current_user.name
            = link_to 'Sign out', session_path(session[:user_id]), method: :delete
        - else
          %p
            = link_to 'Sign in', new_session_path
          %p
            = link_to 'Registration as admin', new_role_users_path(:admin)
            = link_to 'Registration as owner', new_role_users_path(:owner)
            = link_to 'Registration as guest', new_role_users_path(:guest)
    .row
      .col-md-12
        = yield
